---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>My Astro site</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1>This is gonna be my blog post</h1>
    <p>it is gonna be very important and exciting</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos minima
      laudantium repellat ullam iste, blanditiis voluptas consequatur, eum magni
      dolorem at voluptatem quas. Culpa, quaerat enim. Laudantium exercitationem
      quod natus!
    </p>
  </body>
</html>
