---
import Footer from "../components/Footer.astro";
import "../styles/global.css";

import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "My Blogs";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>This is gonna be my collections of blog posts</h1>
  <p>it is gonna be very important and exciting</p>
  <ul>
    <li><a href="/posts/post-1">post-1: My first blog post</a></li>
    <li><a href="/posts/post-2">post-2: My second one I guess</a></li>
    <li><a href="/posts/post-3">post-3: My finale</a></li>
  </ul>
</BaseLayout>
