---
const pageTitle = "Home Page";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>my sub sub heading</h2>
  <ul>
    <li>test</li>
    <li>text</li>
    <li>testing</li>
    <li>testing</li>
  </ul>
</BaseLayout>
